.modalContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.descriptionContainer {
    border-radius: 5px;
    padding: 10px;
}

.errorMessage {
    color: red;
}

.errorContainer {
    border: 2px solid red;
}
