.modalContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    margin-bottom: 5px;
}

.errorMessage {
    margin: 0;
    color: red;
}

.errorContainer {
    border: 2px solid red;
}
